.rules {
    width: 500px;
    border: 25px dotted green;
    padding: 25px;
    margin: 25px;
}


body {
    background-image: url("http://www.zingerbug.com/Backgrounds/background_images/white_marble_background_seamless.jpg");
    background-color: #cccccc;
}
